<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div class="top"><font size="2">
    <%= image_tag 'prof.png', size: "30x30" %>
    <P><%= f.email_field :email, :placeholder => "メールアドレス", class: "text_field" %></P>
    <P><%= f.password_field :password, :placeholder => "パスワード", class: "text_field" %></P>
    <%= f.submit "ログイン", class: "btn_confirm" %>
  </font></div>
<% end %>

<div class="hooter"><font size="2">
<% flash.each do |key, value| %>
  　<%= content_tag(:div, value, class: "#{key}") %>
<% end %>
  <% if logged_in? %>
    <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
  <% else %>
    <%= link_to "登録はこちら", new_user_path %>
  <% end %>
</font></div>
