<%= form_with(model: @user, local: true) do |form| %>
<table class="menu", align="center">
  <td class="menu_left"><%= link_to "<", posts_path %></td>
  <td class="menu_center">プロフィールの編集</td>
  <td class="menu_right"><%= form.submit "保存する", class: "save_btn" %></td>
</table>

<div class="container" >
  <div class="row">
    <div>
      <p><%= form.label :プロフィール写真 %></p>
    　<p><%= form.file_field :image %></p>
    　<p><%= form.label :氏名　 %><%= form.text_field :name, class: "prof_field" %></p>
    　<p><%= form.label :メールアドレス　 %><%= form.email_field :email, class: "prof_field" %></p>
    　<p><%= form.label :パスワード　 %><%= form.password_field :password, class: "prof_field" %></p>
　　</div>
　</div>
</div>
<% end %>
