<div class="container">
  <div class="row">
    <span class="col-xs-3"><a class="name"><%= current_user.name %></a></span>
    <span class="col-xs-1"><a class="name"><%= link_to "▶▶", posts_path %></a></span>
    <span class="col-xs-5"> </span>
    <span class="col-xs-1"><%= link_to image_tag('new.png', size: '15x15'), new_post_path %></span>
    <span class="col-xs-1"><%= link_to image_tag('favorite.png', size: '15x15'), favorites_path %></span>
    <span class="col-xs-1">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
        <% if logged_in? %>
          <%= link_to image_tag('logout.png', size: '15x15'), session_path(current_user.id), method: :delete %>
        <% else %>
        <% end %>
    </span>
  </div>

  <div class="row">
    <span class="col-xs-4">
      <p><%= image_tag @user.image.url, class:"user-icon" %></p>
      <p class="sub_name"><%= @user.name %></p>
    </span>
    <span class="col-xs-4">
      <p class="count"><%= @posts_count %></p>
      <p class="count">投稿</p>
    </span>
    <span class="col-xs-4">
      <p  class="count"><%= @favorites_count %></p>
      <p class="count">ピン止め</p>
    </span>
  </div>

  <P class="row">
    <button type="button" class="btn btn-outline-dark"><%= link_to "プロフィールを編集", edit_user_path %></button>
  </p>
</div>

<% @posts.each do |post| %>
<div class="card" >
  <div img class="card-img">
    <p><%= link_to '…', post_path(post.id) %></P>
    <p><%= image_tag(post.image.url) if post.image && post.image.url %></P>
  </div>
</div>
<% end %>
