<%= form_with(model: @post, local: true) do |form| %>
<div class="container">
  <div class="row" class="prof_edit_menu">
    <p class="col-xs-4"><%= link_to '×', posts_path %></p>
  　<p class="col-xs-4">投稿を編集</p>
  　<p class="col-xs-4"><%= form.submit "保存する", class: "save_btn" %></p>
  </div>
</div>

<div class="container" >
  <div class="row">
    <div>
      <p class="img"><%= image_tag @post.image.url if @post.image.present? && @post.image.url.present? %></p>
      <p><%= form.text_area :content, class: "field" %></p>
    </div>
　</div>
</div>
<% end %>
